{% if page.comment != false %}
    <div class="giscus"></div>
    <div class="post-comments">
    <script src="https://giscus.app/client.js"
        data-repo="soonhankwon/soonhankwon.github.io"
        data-repo-id="R_kgDON4G7Aw"
        data-category="Comments"
        data-category-id="DIC_kwDON4G7A84Cm5Cp"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="catppuccin_frappe"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
    </div>
{% endif %}