.blog-face {
    text-align: center;
    
    .wiki-subtitle {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    }
}

.indent {
    margin-left: 30px;
}

.contact {
    margin-top: 10px;
    text-align: center;
    a {
        background: $theme-color;
        color: #FFFFFF;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 8px;
        white-space: nowrap;

        &:hover {
            transition: background 0.3s ease;
            background: #666;
        }
    }
}

